<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="Duck Force Companion" android:roundIcon="@mipmap/ic_launcher" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="false">
        <activity android:name=".PolishedCompanionActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
        <activity android:name=".CompanionActivity" android:exported="false"/>
        <activity android:name=".ToolHostActivity" android:exported="false"/>
        <activity android:name=".ToolkitActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>
    </application>
</manifest>